@font-face {
    font-family: "Open Sans";
    src: url("../font/OpenSans-VariableFont_wdth\,wght.ttf") format("truetype");
    font-weight: 300 800;
    font-style: normal;
    font-display: swap;
}

*{
    margin:0;
    font-family: "Open Sans", sans-serif;
}

:root{
    --main-color:#fff8f0;
    --segondary-color: #fbdcb9;
    --black:#000;
    --white:#fff;
}

h1{
    font-size: 70px;
    font-weight: 700;
}
h2{
    font-size: 50px;
    font-weight: 700;
}
h3{
    font-size: 50px;
    font-weight: 700;
}
h4{
    font-size: 20px;
    font-weight: 400;
}
h5{
    font-size: 18px;
    font-weight: 400;
}
h6{
    font-size: 16px;
    font-weight: 400;
}

p{
    font-size: 20px;
    font-weight: 400;
}

a{
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    color:var(--white);
    transition:all 0.2s ease-in-out;

    &:hover{
        color:var(--black);
    }
}

/* header */

header{
    background: var(--black);
    .divHeader{
        max-width: 1440px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 10px;
        a{
            display: flex;
            align-items: center;
            gap: 20px;
            span{
                font-size: 36px;
            }
            &:hover{
                color: var(--segondary-color);
            }
            transition:all 0.2s ease-in-out;
        }
        nav ul{
            list-style: none;
            display: flex;
            padding: 0;
            gap: 40px;
        }
    }
}

.header ul{
    display: flex;;
    gap:50px;
    margin-right: 80px;
}

.header>a{
    display: flex;
    gap:10px;
    align-items: center;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: var(--white);
    font-size: 24px;
}

#Cart{
    /* position: absolute; */
    right: 20px;
    color: var(--white);
}

#cart-content{
    background-color: var(--white);
    position: absolute;
    right: 0;
    top: 45px;
    padding: 50px 20px;
    display: none;
}

#close-cart{
    position: absolute;
    right: 10px;
    top: 10px;
}
#cart-items{
    display: block;
    list-style: none;
    padding: 0;
}

/* Main */

main{
    .section1{
        background-color: var(--main-color);
        >div{
            display:grid;
            grid-template-columns: 40% auto;
            gap:50px;
            padding:80px 15px;
            max-width: 1440px;
            margin:auto;
            align-items: center;

            article{
                h1{
                    font-size: 40px;
                    margin-bottom: 10px;
                }
                p{
                    font-size: 20px;
                }
                >div{
                    display: flex;
                    gap:24px; 

                    button{
                        background-color: var(--white);
                        color:var(--black);
                        border:none;
                        margin-top: 50px;
                        cursor: pointer;
                        padding: 10px 20px;
                        border-radius: 10px;
                        background-color: rgba(165, 42, 42, 0.297);
                        transition: 0.3s ease-out;

                        &:hover{
                            transform: scale(1.1);
                        }
                    }
                }
            }
        }
    }

    .section2{
        max-width: 1440px;
        margin: auto;
        >div{
            >p{
                padding-bottom: 40px;
            }
        }
        .s2d2{
            margin: 10px;
            margin-top: 30px;
            display: flex;
            gap: 20px;
            article {
                flex: 1 0 20%;
                box-shadow: 3px 5px 12px 18px #f7f6f6;
                flex-direction: column;

                img{
                    height: 200px;
                }
                div{
                    height: 150px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding: 12px;
                    text-align: start;
                    h3{
                        font-size: 20px;
                        font-weight: 500;
                    }
                    h4{
                        font-size: 14px;
                        text-align: start;
                    }
                    div{
                        flex-direction: row;
                        place-items: self-end;
                        gap: 15px;
                        button{
                            background-color: var(--black);
                            color: var(--white);
                            transition: all 0.2s;
                            height: 46px;
                            cursor: pointer;
                        }
                        p{
                            align-self: center;
                        }
                    }
                }
            }
        }
    }

    .section3{
        >div{
            max-width: 1440px;
            margin: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 40px 20px;
            gap: 40px;
            img{
                width: 100%;
                height: 500px;
                object-fit: cover;
            }
            h2{
                font-size: 20px;
            }
            h3{
                font-size: 30px;
                margin-bottom: 20px;
            }
        }
    }
    .contact{
        margin: auto;
        max-width: 800px;
        text-align: center;

    h2{
        margin-top: 20px;
        font-size: 44px;
    }
    h3{
        font-size: 28px;
        margin-bottom: 10px;
    }
    p{
        margin-bottom: 10px;
    }
    textarea{
        resize: none;
    }

    form{
        display: flex;
        flex-direction: column;
        width: 70%;
        margin: auto;
        text-align: left;
        gap: 10px;

        button{
            width: 80%;
            margin: auto;
        }
    }
}
}


img{
    width:100%;
    object-fit: cover;
}

/* footer */
footer{
    background-color: var(--black);
    #footer{
        max-width: 1680px;
        margin: auto;
        margin-top: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        gap: 20px;
        ul{
            padding: 0;
        }
        a{
            display: flex;
            gap:12px;
            align-items: center;
            &:hover{
                color: var(--segondary-color);
            }
        }
        form{
            color: var(--white);
            display: grid;
            padding-left: 10px;
            input[type="submit"]{
                background-color: var(--white);
                color:var(--black);
                border-style: solid;
                border-width: 1px;
                margin-top: 10px;
                &:hover{
                    background-color: var(--black);
                    color: var(--white);
                    border-color: var(--white);
                }
            }
        }
        div{
            display: flex;
            gap: 20px;
        }
        h2{
            font-size: 24px;
            color: var(--white);
        }
        .partenaire{
            ul{
                li{
                    padding-top: 8px;
                    a{
                        font-size: 18px;
                    }
                }
            }
        }
        .apropos{
            color: var(--white);
            p{
                font-size: 16px;
            }
        }
        .footerp1{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            padding: 15px;
            background: var(--black);
            ul{
                li{
                    padding-top: 8px;
                    a{
                        font-size: 18px;
                    }
                }
            }
        }
    }

}


@media screen and (max-width:1024px){
    .section1> div,
    .section3 {
        grid-template-columns: auto;
    }

    main .section2 .s2d2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 900px){
    .divHeader nav{
        display: none;
    }
    .divHeader .show {
        display: flex;
    }
    .menu-toggle {
        display: block;
    }
}
@media screen and (max-width:767px){
    /* .header > ul{
        display: none;
    } */

    footer{
        #footer{
            display: grid;
            justify-content: center;
            text-align: center;
            .partenaire{
                justify-self: center;
            }
            .social{
                justify-self: center;
            }
        }
    }

    .header ul {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #333;
        position: absolute;
        top: 50px;
        left: 0;
    }


    .header ul li {
        margin: 10px 0;
        text-align: center;
    }


    main .section2 .s2d2 {
        display: grid;
        grid-template-columns: 1fr;
    }

}

